html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #ECEFF1;
}

    /* Header*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.main-header {
    background-color: rgb(55,71,79, 0.8);
    border-bottom: 1px solid #37474F;
    width: 100%;
}

.main-header nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 100px; 
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px
}


.logo img {
    display: block; 
    height: 150px; 
    width: auto;
    margin-left: 20px;
    margin-right: auto;
}

.logo img:hover, .logo img:focus {
    outline: none;
    filter: drop-shadow(0 0 8px #C8E6C9);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px; 
    gap: 50px;
    margin-right: 60px;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: #ECEFF1;
}

.header-right a:hover {
    color: rgb(16, 148, 60);
    transition: all 0.3s ease-in-out;
}

.search-button {
    background-color: rgb(156, 224, 158, 0.7);
    color: #ECEFF1;
    font-weight: 500;
    padding: 10px 25px;
    border: solid 1px #D7ECD9;
    border-radius: 13px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.search-button:hover {
    outline: none;
    filter: drop-shadow(0 0 3px #C8E6C9);
    font-size: 20.5px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

    /* Introduction Image */

.main-section {
    padding: 0px 70px 20px 70px;
}

.intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-img img {
    max-width: 100%;
    height: auto;
    width: 98%;
    border-radius: 20px;
    box-shadow: #747d81 -3px 4px 8px;
    filter: blur(1px);
}

.intro-img img:hover {
    filter: blur(0px);
    transition: all 0.5s ease-in-out;
}

.intro {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.intro-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ECEFF1;
    text-align: center;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 1);
    padding: 20px;
}

.EcoRide {
    font-style: italic;
    font-family: "Lato", sans-serif;
}


    /* Search Bar */

.search-bar {
    display: flex;
    justify-content: center;
    align-items: space-between;
    background-color: #ECEFF1;
    border: solid 2px rgb(87, 192, 122);
    border-radius: 15px;
    padding: 15px;
    margin: 20px ;
    margin-top: 40px;
    gap: 40px;
}

.search-bar input[type="text"], .search-bar input[type="date"], .search-bar select, .search-bar button {
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: #F8F9FA;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 300px;
    font-family: "Poppins", sans-serif;
    color: #000;
}   

.search-bar input::placeholder {
  color: #777;
  opacity: 1;
}

.search-bar input[type="date"]:valid {
  color: #000;
}

.search-bar select:invalid {
    color: #999;
}

.search-bar select option{
    color: #000;
    background-color: #F8F9FA;
}

.search-bar input[type="text"]:focus, .search-bar input[type="date"]:focus, .search-bar select:focus:focus {
    outline: none;
    border-color: rgb(46, 125, 50, 0.5);
    box-shadow: 0 0 8px #C8E6C9;
}

.vr {
   width: 0.1px; 
   height: 55px; 
   background: #ECEFF1; 
   margin: 5px 10px;

}

.search-bar button img {
    vertical-align: middle;
    height: 30px;
    width: auto;
}

.button-search-bar {
    background-color: #ECEFF1;
    cursor: pointer;   
}

.button-search-bar:hover {
    background-color: rgb(156, 224, 158, 0.7);
    border-color: rgb(46, 125, 50, 0.5);
    color: #ECEFF1;
    transition: all 0.5s ease-in-out;
}

    /* Card Presentation */

.card-presentation {
    display: block;
    justify-content: center;
    background-color: rgb(174, 231, 177, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.card {
    display: flex;
    align-items: center;
    background-color: rgb(156, 224, 158, 0.5);
    border-radius: 15px;   
    box-shadow: #747d81 -3px 4px 8px;
    padding: 20px 0px 25px;
    margin: 40px;
    margin-bottom: 100px;
    width: 96%;
    gap: 50px;
}

.card img {
    height: auto;
    max-width: 40%;
    border: solid 2px rgb(12, 123, 16, 0.8);    
    border-radius: 20px;
    box-shadow: #747d81 -1px 1px 5px 1px;
    margin-top: 40px;
    margin: 20px 50px 20px 50px;
}

.card-reverse {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(179, 229, 252, 0.5);
}


.card-description {
    display: block;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #37474F;
    padding: 20px;
    margin-left: 50px;
}

.card-description h2 {
    font-size: 35px;
    color: #276A2A;
    font-style: italic;
    font-weight: 900;
}

.card-reverse img {
    border: solid 2px #00A7F3;
}

    /**SEARCH PAGE**/

.section-recherche {
    display : flex;
    justify-content: space-between;
    align-items: flex-start;
}
    
    /* Filters */

.filter-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(240, 241, 244, 0.3);
    border: solid 2px rgb(87, 192, 122);
    border-radius: 40px;
    box-shadow: #747d81 -2px 2px 4px;
    padding: 15px;
    margin: 100px 0px 30px 20px;
    width: 350px;
}

aside h3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-style: italic;
    text-shadow: #37474F 1px 1px 2px;
    color: #276A2A;
    font-weight: 600;
    margin: 0;
}

aside hr {
    background-color: #276A2A;
    border: none;
    border-radius: 50px;
    box-shadow: #747d81 -1px 0.5px 1px;
    height: 1.5px;
    width: 85%;
    margin-top: 15px;
}

aside h4 {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    text-shadow: #747d81 -1px 1px 1px;
    color: #276A2A;
    margin: 15px 0px 20px 5px;
}

    /* Filter Buttons */

aside .filter-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    color: #37474F;
    font-weight: 500;
    border: solid 2px #2E7D32;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;  
    width: 250px;
    height: 40px;
    padding: 0px 0px  0px 15px;
    margin-bottom: 10px;
}

aside img {
    vertical-align: middle;
    height: 50px;
}


aside .filter-btn:hover {
    background-color: rgb(156, 224, 158, 0.7);
    transition: all 0.5s ease-in-out;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
}

    /* Price Filter */

.price-filter {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.price-input {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.price-input label {
    font-weight: 600;
    color: #2E7D32;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
}

.price-input input {
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 5px;
    border: 2px solid #2E7D32;
    border-radius: 8px;
    width: 90px;
    padding: 8px;
    margin-bottom: 20px;
}

.price-input input:focus {
    outline: none;
    border-color: #2E7D32;
    box-shadow: 0 0 8px #C8E6C9;
}

    /*Cartes Covoiturage*/

.card-covoiturage-section {
    width: 75%;
    background-color: rgb(200, 230, 201, 0.9);
    border-radius: 15px;
    padding: 10px;
    margin-top: 100px;
    gap: 20px;
}

.card-covoiturage {
    display: flex;
    align-items: center;
    background-color: #E8F5E9;
    border-radius: 20px;   
    box-shadow: #747d81 -3px 4px 8px;
    padding: 20px 0px 25px;
    margin: 30px 20px 40px 40px;
    width: 96%;
    gap: 50px;
}

.card-covoiturage img {
    height: auto;
    max-width: 10%;    
    border-radius: 50%;
    margin: 10px 0px 150px 40px;
}

.modele-covoiturage {
    display: none;
}







    /* Footer */

footer {
    background-color: rgb(55,71,79, 0.8);
    color: #ECEFF1;
    text-align: center;
    padding-bottom: 5px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content h4 {
    font-family: "Calibri", sans-serif;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    padding: 5px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(55, 71, 79, 0.5);
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px 80px 10px 80px;
    gap: 80px;
}

.footer-links a {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ECEFF1;
    margin: 0 15px;
}

.footer-links a:hover {
    color: rgb(16, 148, 60);
    transition: all 0.3s ease-in-out;
}

footer img {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

footer hr {
   width: 0.1px; 
   height: 30px; 
   background: #ECEFF1; 
   margin: 0 10px;
}

.footer-separator {
    width: 80%;
    height: 0.5px;
    background: #ECEFF1;
    margin: 10px auto;
}

.footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 250px;
}

.footer-social-media img {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: auto;
    height: 80px;
}

.footer-social-media a:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #ECEFF1;
    padding: 10px 80px 10px 80px;
}

.legal-mentions {
    text-decoration: none;
    color: #ECEFF1;
}

.legal-mentions:hover {
    color: rgb(16, 148, 60);
}