body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #37474F;
    border-bottom: 1px solid #37474F;
    width: 100%;
}

.header nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 100px; 
}

.logo img {
    display: block; 
    height: 150px; 
    width: auto;
    margin-left: 10px;
    margin-right: auto;
}

.header nav a {
    color: #ECEFF1;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-right: 30px; 
}

.header nav a:hover {
    color: rgb(16, 148, 60);
}
