body {
    margin: 0;
    padding: 0;
    color: #ECEFF1;
}

    /* Header*/
.main-header {
    background-color: #37474F;
    border-bottom: 1px solid #37474F;
    width: 100%;
}

.main-header nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 100px; 
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px
}


.logo img {
    display: block; 
    height: 150px; 
    width: auto;
    margin-left: 20px;
    margin-right: auto;
}

.header-right {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px; 
    gap: 50px;
    margin-right: 60px;
}

a {
    text-decoration: none;
    color: #ECEFF1;
}

.header-right a:hover {
    color: rgb(16, 148, 60);
}

.search-button {
    background-color: rgb(156, 224, 158, 0.7);
    color: #ECEFF1;
    padding: 10px 25px;
    border: solid 1px #D7ECD9;
    border-radius: 13px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.search-button:hover {
    background-color: rgb(87, 192, 122);
    font-size: 21px;
    cursor: pointer;
}

    /* Introduction Image */

.intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.intro-img img {
    max-width: 100%;
    height: auto;
    width: 98%;
    border-radius: 20px;
    border: solid 2px rgb(156, 224, 158, 0.7);
    box-shadow: #747d81 -3px 4px 8px;
    filter: blur(1px);
}

.intro-img img:hover {
    filter: blur(0px);
    transition: all 0.5s ease-in-out;
}

.intro {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.intro-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ECEFF1;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    border-radius: 15px;
}

