body {
    margin: 0;
    padding: 0;
    color: #ECEFF1;
}

    /* Header*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.main-header {
    background-color: rgb(55,71,79, 0.8);
    border-bottom: 1px solid #37474F;
    width: 100%;
}

.main-header nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 100px; 
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px
}


.logo img {
    display: block; 
    height: 150px; 
    width: auto;
    margin-left: 20px;
    margin-right: auto;
}

.header-right {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px; 
    gap: 50px;
    margin-right: 60px;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: #ECEFF1;
}

.header-right a:hover {
    color: rgb(16, 148, 60);
}

.search-button {
    background-color: rgb(156, 224, 158, 0.7);
    color: #ECEFF1;
    font-weight: 500;
    padding: 10px 25px;
    border: solid 1px #D7ECD9;
    border-radius: 13px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.search-button:hover {
    font-size: 21px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

    /* Introduction Image */

.intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.intro-img img {
    max-width: 100%;
    height: auto;
    width: 98%;
    border-radius: 20px;
    box-shadow: #747d81 -3px 4px 8px;
    filter: blur(1px);
}

.intro-img img:hover {
    filter: blur(0px);
    transition: all 0.5s ease-in-out;
}

.intro {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.intro-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ECEFF1;
    text-align: center;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 1);
    padding: 20px;
}

.EcoRide {
    font-style: italic;
    font-family: "Lato", sans-serif;
}


    /* Barre de recherche */

.search-bar {
    display: flex;
    justify-content: center;
    align-items: space-between;
    background-color: #ECEFF1;
    border: solid 2px rgb(87, 192, 122);
    border-radius: 15px;
    padding: 15px;
    margin: 20px ;
    margin-top: 60px;
    gap: 40px;
}

.search-bar input[type="text"], .search-bar input[type="date"], .search-bar select, .search-bar button {
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: #F8F9FA;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 300px;
    font-family: "Poppins", sans-serif;
}   

.vr {
   width: 0.1px; 
   height: 55px; 
   background: #ECEFF1; 
   margin: 5px 10px;

}

.search-bar button img {
    vertical-align: middle;
    height: 30px;
    width: auto;
}

.button-search-bar {
    background-color: #ECEFF1;
    cursor: pointer;   
}

.button-search-bar:hover {
    background-color: rgb(156, 224, 158, 0.7);
    color: #ECEFF1;
    transition: all 0.5s ease-in-out;
}

    /* Card Presentation */

.card-presentation {
    display: block;
    justify-content: center;
    background-color: rgb(174, 231, 177, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 150px;
}

    /* Card 1 */

.card {
    display: flex;
    align-items: center;
    background-color: rgb(156, 224, 158, 0.5);
    border-radius: 15px;   
    box-shadow: #747d81 -3px 4px 8px;
    padding: 20px 0px 25px;
    margin: 20px;
    margin-bottom: 50px;
    width: 96%;
    gap: 50px;
}

.card img {
    height: auto;
    max-width: 40%;
    border: solid 2px rgb(12, 123, 16, 0.8);    
    border-radius: 20px;
    box-shadow: #747d81 -1px 1px 5px 1px;
    margin-top: 40px;
    margin: 20px 50px 20px 50px;
}

.card-reverse {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(179, 229, 252, 0.5);
}


.card-description {
    display: block;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #37474F;
    padding: 20px;
    margin-left: 50px;
}

.card-description h2 {
    font-size: 35px;
    color: #276A2A;
    font-style: italic;
    font-weight: 900;
}

.card-reverse img {
    border: solid 2px #00A7F3;
}

    /* Filtres */
.filter-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    border: solid 2px rgb(87, 192, 122);
    border-radius: 40px;
    padding: 15px;
    gap: 30px;
    margin-bottom: 30px;
    width: 350px;
}

aside hr {
    width: 80%;
   background: #ECEFF1;
   margin: 5px 10px;
}

aside .filter-btn {
    background-color: #ECEFF1;
    color: #37474F;
    font-weight: 500;
    padding: 10px 25px;
    border: solid 1px #D7ECD9;
    border-radius: 13px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;  
}

aside .filter-btn:hover {
    font-size: 19px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

aside img {
    vertical-align: middle;
    height: 40px;
    margin-right: 5px;
}








    /* Footer */

footer {
    background-color: rgb(55,71,79, 0.8);
    color: #ECEFF1;
    text-align: center;
    padding-bottom: 5px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content h4 {
    font-family: "Calibri", sans-serif;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    padding: 5px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(55, 71, 79, 0.5);
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px 80px 10px 80px;
    gap: 80px;
}

.footer-links a {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ECEFF1;
    margin: 0 15px;
}

.footer-links a:hover {
    color: rgb(16, 148, 60);
}

footer img {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

footer hr {
   width: 0.1px; 
   height: 30px; 
   background: #ECEFF1; 
   margin: 0 10px;
}

.footer-separator {
    width: 80%;
    height: 0.5px;
    background: #ECEFF1;
    margin: 10px auto;
}

.footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 250px;
}

.footer-social-media img {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: auto;
    height: 80px;
}

.footer-social-media a:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #ECEFF1;
    padding: 10px 80px 10px 80px;
}

.legal-mentions {
    text-decoration: none;
    color: #ECEFF1;
}

.legal-mentions:hover {
    color: rgb(16, 148, 60);
}